<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>WzE0MzM4OTEzODA3MzgyOTYwXQ==</data>
			<key>json</key>
			<array>
				<real>1.433891380738296e+16</real>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>19</string>
					<key>Content-Type</key>
					<string>text/javascript; charset=&quot;UTF-8&quot;</string>
					<key>Date</key>
					<string>Tue, 09 Jun 2015 23:09:40 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>19</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>0.js</string>
				<key>textEncodingName</key>
				<string>&quot;utf-8&quot;</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>W1tdLCIxNDMzODkxMzc5MzYzMTk5MSJd</data>
			<key>json</key>
			<array>
				<array/>
				<string>14338913793631991</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>24</string>
					<key>Content-Type</key>
					<string>text/javascript; charset=&quot;UTF-8&quot;</string>
					<key>Date</key>
					<string>Tue, 09 Jun 2015 23:09:40 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>24</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>0.js</string>
				<key>textEncodingName</key>
				<string>&quot;utf-8&quot;</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>W1siKi4uLi4uLi4uLi4uLi4uIDMzMDYgLSAyMDE1LTA2LTA5IDE2OjA5OjQwIl0sIjE0MzM4OTEzODE0MDUwNzU3Il0=</data>
			<key>json</key>
			<array>
				<array>
					<string>*.............. 3306 - 2015-06-09 16:09:40</string>
				</array>
				<string>14338913814050757</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14338913793631991?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14338913793631991?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14338913793631991?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>68</string>
					<key>Content-Type</key>
					<string>text/javascript; charset=&quot;UTF-8&quot;</string>
					<key>Date</key>
					<string>Tue, 09 Jun 2015 23:09:41 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>68</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14338913793631991.js</string>
				<key>textEncodingName</key>
				<string>&quot;utf-8&quot;</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
