<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>asdfvadf hjashjdfлффывсфыдлотсф3094асцысаывльфыв lsadklj34578-8134rqdfqwqwedqwedsdasdl</string>
	<integer>0</integer>
	<integer>123</integer>
	<array>
		<string>qwfqw ew qewывапамфвмафвам</string>
		<integer>23</integer>
		<string>фыфывфыва</string>
		<integer>9223372036854775807</integer>
		<array>
			<integer>2572347523475</integer>
			<integer>0</integer>
			<string> олра</string>
			<false/>
			<true/>
			<dict>
				<key>cell_id</key>
				<string>40721</string>
				<key>css_left</key>
				<integer>138</integer>
				<key>css_top</key>
				<integer>14</integer>
				<key>price</key>
				<string></string>
				<key>price_id</key>
				<string></string>
				<key>row_num</key>
				<string>17</string>
				<key>seat_num</key>
				<string>8</string>
				<key>sector_id</key>
				<string>151</string>
				<key>status</key>
				<integer>7</integer>
				<key>ticket_id</key>
				<string></string>
			</dict>
		</array>
	</array>
	<dict>
		<key>cell_id</key>
		<string>40721</string>
		<key>css_left</key>
		<integer>138</integer>
		<key>css_top</key>
		<integer>14</integer>
		<key>price</key>
		<string></string>
		<key>price_id</key>
		<string></string>
		<key>row_num</key>
		<string>17</string>
		<key>seat_num</key>
		<string>8</string>
		<key>sector_id</key>
		<string>151</string>
		<key>status</key>
		<integer>7</integer>
		<key>ticket_id</key>
		<string></string>
	</dict>
	<dict>
		<key>cell_id</key>
		<string>40718</string>
		<key>css_left</key>
		<integer>96</integer>
		<key>css_top</key>
		<integer>14</integer>
		<key>price</key>
		<string></string>
		<key>price_id</key>
		<string></string>
		<key>row_num</key>
		<string>17</string>
		<key>seat_num</key>
		<string>5</string>
		<key>sector_id</key>
		<string>151</string>
		<key>status</key>
		<integer>7</integer>
		<key>ticket_id</key>
		<string></string>
	</dict>
	<dict>
		<key>cell_id</key>
		<string>40720</string>
		<key>css_left</key>
		<integer>124</integer>
		<key>css_top</key>
		<integer>14</integer>
		<key>price</key>
		<string></string>
		<key>price_id</key>
		<string></string>
		<key>row_num</key>
		<string>17</string>
		<key>seat_num</key>
		<string>7</string>
		<key>sector_id</key>
		<string>151</string>
		<key>status</key>
		<integer>7</integer>
		<key>ticket_id</key>
		<string></string>
	</dict>
	<dict>
		<key>cell_id</key>
		<string>40717</string>
		<key>css_left</key>
		<integer>82</integer>
		<key>css_top</key>
		<integer>14</integer>
		<key>price</key>
		<string></string>
		<key>price_id</key>
		<string></string>
		<key>row_num</key>
		<string>17</string>
		<key>seat_num</key>
		<string>4</string>
		<key>sector_id</key>
		<string>151</string>
		<key>status</key>
		<integer>7</integer>
		<key>ticket_id</key>
		<string></string>
	</dict>
	<dict>
		<key>cell_id</key>
		<string>40715</string>
		<key>css_left</key>
		<integer>54</integer>
		<key>css_top</key>
		<integer>14</integer>
		<key>price</key>
		<string></string>
		<key>price_id</key>
		<string></string>
		<key>row_num</key>
		<string>17</string>
		<key>seat_num</key>
		<string>2</string>
		<key>sector_id</key>
		<string>151</string>
		<key>status</key>
		<integer>7</integer>
		<key>ticket_id</key>
		<string></string>
	</dict>
	<dict>
		<key>imagemap_coords</key>
		<array/>
		<key>is_fanzone</key>
		<string>0</string>
		<key>sector_id</key>
		<string>151</string>
		<key>sector_name</key>
		<string>Сектор1 </string>
	</dict>
	<array>
		<array/>
		<string>0</string>
		<string>152</string>
		<string>Сектор2</string>
		<string>89</string>
		<string>89</string>
	</array>
	<dict>
		<key>imagemap_coords</key>
		<array/>
		<key>is_fanzone</key>
		<string>0</string>
		<key>sector_id</key>
		<string>153</string>
		<key>sector_name</key>
		<string>Сектор3</string>
		<key>tickets_amount_free</key>
		<string>94</string>
		<key>tickets_amount_total</key>
		<string>94</string>
	</dict>
	<dict>
		<key>price</key>
		<string>1500.00</string>
		<key>price_color</key>
		<string>#F9A13A</string>
		<key>price_id</key>
		<string>7813</string>
		<key>price_name</key>
		<string>VIP</string>
		<key>price_sort_num</key>
		<string>8</string>
	</dict>
	<dict>
		<key>imagemap_coords</key>
		<array/>
		<key>is_fanzone</key>
		<string>0</string>
		<key>sector_id</key>
		<string>155</string>
		<key>sector_name</key>
		<string>Сектор5</string>
		<key>tickets_amount_free</key>
		<string>40</string>
		<key>tickets_amount_total</key>
		<string>40</string>
	</dict>
	<array>
		<array/>
		<string>0</string>
		<string>154</string>
		<string>Сектор4</string>
		<string>70</string>
		<string>70</string>
	</array>
	<array>
		<array>
			<string>850.00</string>
			<string>#6BC1FF</string>
			<string>7806</string>
			<string></string>
			<string>7</string>
		</array>
		<dict>
			<key>price</key>
			<string>600.00</string>
			<key>price_color</key>
			<string>#E55EDB</string>
			<key>price_id</key>
			<string>7807</string>
			<key>price_name</key>
			<string></string>
			<key>price_sort_num</key>
			<string>5</string>
		</dict>
		<dict>
			<key>price</key>
			<string>700.00</string>
			<key>price_color</key>
			<string>#00A651</string>
			<key>price_id</key>
			<string>7808</string>
			<key>price_name</key>
			<string></string>
			<key>price_sort_num</key>
			<string>6</string>
		</dict>
		<dict>
			<key>price</key>
			<string>550.00</string>
			<key>price_color</key>
			<string>#4476D6</string>
			<key>price_id</key>
			<string>7809</string>
			<key>price_name</key>
			<string></string>
			<key>price_sort_num</key>
			<string>4</string>
		</dict>
		<array>
			<string>450.00</string>
			<string>#63C654</string>
			<string>7810</string>
			<string></string>
			<string>3</string>
		</array>
		<dict>
			<key>price</key>
			<string>350.00</string>
			<key>price_color</key>
			<string>#FDC61D</string>
			<key>price_id</key>
			<string>7811</string>
			<key>price_name</key>
			<string></string>
			<key>price_sort_num</key>
			<string>1</string>
		</dict>
		<dict>
			<key>price</key>
			<string>400.00</string>
			<key>price_color</key>
			<string>#E16060</string>
			<key>price_id</key>
			<string>7812</string>
			<key>price_name</key>
			<string></string>
			<key>price_sort_num</key>
			<string>2</string>
		</dict>
	</array>
	<array/>
</array>
</plist>
