<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>regular</key>
	<dict>
		<key>subscribe</key>
		<string>rsub-c-00000000-0000-0000-0000-000000000000</string>
		<key>publish</key>
		<string>rpub-c-00000000-0000-0000-0000-000000000000</string>
	</dict>
	<key>pam</key>
	<dict>
		<key>subscribe</key>
		<string>psub-c-00000000-0000-0000-0000-000000000000</string>
		<key>publish</key>
		<string>ppub-c-00000000-0000-0000-0000-000000000000</string>
	</dict>
</dict>
</plist>
