<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data</key>
	<data>SFRUUC8xLjEgMjAwIE9LDQpEYXRlOiBUdWUsIDExIE5vdiAyMDE0IDE1OjQ0OjEyIEdNVA0KQ29udGVudC1UeXBlOiB0ZXh0L2phdmFzY3JpcHQ7IGNoYXJzZXQ9IlVURi04Ig0KQ29udGVudC1MZW5ndGg6IDI4DQpDb25uZWN0aW9uOiBrZWVwLWFsaXZlDQpDYWNoZS1Db250cm9sOiBuby1jYWNoZQ0KQWNjZXNzLUNvbnRyb2wtQWxsb3ctT3JpZ2luOiAqDQpBY2Nlc3MtQ29udHJvbC1BbGxvdy1NZXRob2RzOiBHRVQNCg0KdF9hZTI1ZShbMTQxNTcyMDY1MjQ1MDIzMTJdKQ==</data>
</dict>
</plist>
