<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			WzE0MzM5NzIwMzYyMzY5Mjk0XQ==
			</data>
			<key>json</key>
			<array>
				<integer>14339720362369294</integer>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>19</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Wed, 10 Jun 2015 21:33:56 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>19</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>0.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1siKioqKioqLi4uLi4uLi4uIDM0NDAgLSAyMDE1LTA2LTEwIDE0
			OjMzOjU1Il0sIjE0MzM5NzIwMzY4MDkzNjU1Il0=
			</data>
			<key>json</key>
			<array>
				<array>
					<string>******......... 3440 - 2015-06-10 14:33:55</string>
				</array>
				<string>14339720368093655</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14339720347666147?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14339720347666147?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14339720347666147?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>68</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Wed, 10 Jun 2015 21:33:58 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>68</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14339720347666147.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1tdLCIxNDMzOTcyMDM0NzY2NjE0NyJd
			</data>
			<key>json</key>
			<array>
				<array/>
				<string>14339720347666147</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>24</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Wed, 10 Jun 2015 21:33:56 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>24</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>0.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1siKioqKioqKi4uLi4uLi4uIDM0NDEgLSAyMDE1LTA2LTEwIDE0
			OjMzOjU3Il0sIjE0MzM5NzIwMzg4NTExNzA1Il0=
			</data>
			<key>json</key>
			<array>
				<array>
					<string>*******........ 3441 - 2015-06-10 14:33:57</string>
				</array>
				<string>14339720388511705</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14339720368093655?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14339720368093655?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.3; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/a/0/14339720368093655?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=7BD5E671-EAE9-47EE-B238-B664101D4994&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>68</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Wed, 10 Jun 2015 21:33:59 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>68</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14339720368093655.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
