<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1siKioqLi4uLi4uLi4uLi4uIDIwMTIgLSAyMDE1LTA2LTI5IDA0
			OjIwOjM5Il0sIjE0MzU1NzY4NDA3NjQ5MTQ3IiwiUE5DbGllbnRT
			dGF0ZUNoYW5uZWxHcm91cFRlc3RzIiwiYSJd
			</data>
			<key>json</key>
			<array>
				<array>
					<string>***............ 2012 - 2015-06-29 04:20:39</string>
				</array>
				<string>14355768407649147</string>
				<string>PNClientStateChannelGroupTests</string>
				<string>a</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768387210325?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768387210325?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768387210325?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>105</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:40 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>105</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14355768387210325.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1siKioqKioqKioqKioqKioqIDIwMDkgLSAyMDE1LTA2LTI5IDA0
			OjIwOjMzIl0sIjE0MzU1NzY4MzQ2Mjc3NDE2IiwiUE5DbGllbnRT
			dGF0ZUNoYW5uZWxHcm91cFRlc3RzIiwiYSJd
			</data>
			<key>json</key>
			<array>
				<array>
					<string>*************** 2009 - 2015-06-29 04:20:33</string>
				</array>
				<string>14355768346277416</string>
				<string>PNClientStateChannelGroupTests</string>
				<string>a</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768325874046?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768325874046?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768325874046?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>105</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:34 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>105</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14355768325874046.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			eyJzdGF0dXMiOiAyMDAsICJtZXNzYWdlIjogIk9LIiwgInBheWxv
			YWQiOiB7InRlc3QiOiAidGVzdCJ9LCAic2VydmljZSI6ICJQcmVz
			ZW5jZSJ9
			</data>
			<key>json</key>
			<dict>
				<key>message</key>
				<string>OK</string>
				<key>payload</key>
				<dict>
					<key>test</key>
					<string>test</string>
				</dict>
				<key>service</key>
				<string>Presence</string>
				<key>status</key>
				<integer>200</integer>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/,/uuid/322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C/data?channel-group=PNClientStateChannelGroupTests&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;state=%7B%22test%22%3A%22test%22%7D&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/,/uuid/322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C/data?channel-group=PNClientStateChannelGroupTests&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;state=%7B%22test%22%3A%22test%22%7D&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v2/presence/sub-key/demo-36/channel/,/uuid/322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C/data?channel-group=PNClientStateChannelGroupTests&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;state=%7B%22test%22%3A%22test%22%7D&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Accept-Ranges</key>
					<string>bytes</string>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Age</key>
					<string>0</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>84</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:42 GMT</string>
					<key>Server</key>
					<string>Pubnub Presence</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>84</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>data.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			WzE0MzU1NzY4MzI0NTQxMzEzXQ==
			</data>
			<key>json</key>
			<array>
				<integer>14355768324541313</integer>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/time/0?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>19</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:32 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>19</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>0.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1siKiouLi4uLi4uLi4uLi4uIDIwMTEgLSAyMDE1LTA2LTI5IDA0
			OjIwOjM3Il0sIjE0MzU1NzY4Mzg3MjEwMzI1IiwiUE5DbGllbnRT
			dGF0ZUNoYW5uZWxHcm91cFRlc3RzIiwiYSJd
			</data>
			<key>json</key>
			<array>
				<array>
					<string>**............. 2011 - 2015-06-29 04:20:37</string>
				</array>
				<string>14355768387210325</string>
				<string>PNClientStateChannelGroupTests</string>
				<string>a</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768366795318?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768366795318?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768366795318?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>105</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:38 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>105</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14355768366795318.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			eyJzdGF0dXMiOiAyMDAsICJtZXNzYWdlIjogIk9LIiwgInNlcnZp
			Y2UiOiAiY2hhbm5lbC1yZWdpc3RyeSIsICJlcnJvciI6IGZhbHNl
			fQ==
			</data>
			<key>json</key>
			<dict>
				<key>error</key>
				<false/>
				<key>message</key>
				<string>OK</string>
				<key>service</key>
				<string>channel-registry</string>
				<key>status</key>
				<integer>200</integer>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v1/channel-registration/sub-key/demo-36/channel-group/PNClientStateChannelGroupTests/remove?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v1/channel-registration/sub-key/demo-36/channel-group/PNClientStateChannelGroupTests/remove?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v1/channel-registration/sub-key/demo-36/channel-group/PNClientStateChannelGroupTests/remove?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Accept-Ranges</key>
					<string>bytes</string>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Age</key>
					<string>0</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>79</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:32 GMT</string>
					<key>Server</key>
					<string>Pubnub</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>79</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>remove.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1siKioqKi4uLi4uLi4uLi4uIDIwMTMgLSAyMDE1LTA2LTI5IDA0
			OjIwOjQxIl0sIjE0MzU1NzY4NDI4MDQyOTMyIiwiUE5DbGllbnRT
			dGF0ZUNoYW5uZWxHcm91cFRlc3RzIiwiYSJd
			</data>
			<key>json</key>
			<array>
				<array>
					<string>****........... 2013 - 2015-06-29 04:20:41</string>
				</array>
				<string>14355768428042932</string>
				<string>PNClientStateChannelGroupTests</string>
				<string>a</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768407649147?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768407649147?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768407649147?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>105</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:42 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>105</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14355768407649147.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			eyJzdGF0dXMiOiAyMDAsICJtZXNzYWdlIjogIk9LIiwgInNlcnZp
			Y2UiOiAiY2hhbm5lbC1yZWdpc3RyeSIsICJlcnJvciI6IGZhbHNl
			fQ==
			</data>
			<key>json</key>
			<dict>
				<key>error</key>
				<false/>
				<key>message</key>
				<string>OK</string>
				<key>service</key>
				<string>channel-registry</string>
				<key>status</key>
				<integer>200</integer>
			</dict>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v1/channel-registration/sub-key/demo-36/channel-group/PNClientStateChannelGroupTests?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;add=a,b&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v1/channel-registration/sub-key/demo-36/channel-group/PNClientStateChannelGroupTests?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;add=a,b&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/v1/channel-registration/sub-key/demo-36/channel-group/PNClientStateChannelGroupTests?pnsdk=PubNub-ObjC-iOS%2F4.0&amp;add=a,b&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Accept-Ranges</key>
					<string>bytes</string>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Age</key>
					<string>0</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>79</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:32 GMT</string>
					<key>Server</key>
					<string>Pubnub</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>79</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>PNClientStateChannelGroupTests.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1siKi4uLi4uLi4uLi4uLi4uIDIwMTAgLSAyMDE1LTA2LTI5IDA0
			OjIwOjM1Il0sIjE0MzU1NzY4MzY2Nzk1MzE4IiwiUE5DbGllbnRT
			dGF0ZUNoYW5uZWxHcm91cFRlc3RzIiwiYSJd
			</data>
			<key>json</key>
			<array>
				<array>
					<string>*.............. 2010 - 2015-06-29 04:20:35</string>
				</array>
				<string>14355768366795318</string>
				<string>PNClientStateChannelGroupTests</string>
				<string>a</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768346277416?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768346277416?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768346277416?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>105</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:36 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>105</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14355768346277416.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1siKioqKioqKioqKioqKiouIDIwMDggLSAyMDE1LTA2LTI5IDA0
			OjIwOjMxIl0sIjE0MzU1NzY4MzI1ODc0MDQ2IiwiUE5DbGllbnRT
			dGF0ZUNoYW5uZWxHcm91cFRlc3RzIiwiYSJd
			</data>
			<key>json</key>
			<array>
				<array>
					<string>**************. 2008 - 2015-06-29 04:20:31</string>
				</array>
				<string>14355768325874046</string>
				<string>PNClientStateChannelGroupTests</string>
				<string>a</string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768305464885?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768305464885?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/14355768305464885?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>105</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:32 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>105</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>14355768305464885.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
	<dict>
		<key>cancelled</key>
		<false/>
		<key>data</key>
		<dict>
			<key>data</key>
			<data>
			W1tdLCIxNDM1NTc2ODMwNTQ2NDg4NSIsIiJd
			</data>
			<key>json</key>
			<array>
				<array/>
				<string>14355768305464885</string>
				<string></string>
			</array>
		</dict>
		<key>request</key>
		<dict>
			<key>currentRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/0?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept</key>
					<string>*/*</string>
					<key>Accept-Encoding</key>
					<string>gzip, deflate</string>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
			<key>originalRequest</key>
			<dict>
				<key>HTTPMethod</key>
				<string>GET</string>
				<key>HTTPShouldHandleCookies</key>
				<true/>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/0?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHTTPHeaderFields</key>
				<dict>
					<key>Accept-Language</key>
					<string>en;q=1, fr;q=0.9, de;q=0.8, zh-Hans;q=0.7, zh-Hant;q=0.6, ja;q=0.5</string>
					<key>User-Agent</key>
					<string>(null)/(null) (iPhone Simulator; iOS 8.2; Scale/2.00)</string>
				</dict>
				<key>allowsCellularAccess</key>
				<true/>
				<key>timeoutInterval</key>
				<real>60</real>
			</dict>
		</dict>
		<key>response</key>
		<dict>
			<key>response</key>
			<dict>
				<key>MIMEType</key>
				<string>text/javascript</string>
				<key>URL</key>
				<string>https://pubsub.pubnub.com/subscribe/demo-36/,/0/0?channel-group=PNClientStateChannelGroupTests,PNClientStateChannelGroupTests-pnpres&amp;pnsdk=PubNub-ObjC-iOS%2F4.0&amp;deviceid=3650F534-FC54-4EE8-884C-EF1B83188BB7&amp;uuid=322A70B3-F0EA-48CD-9BB0-D3F0F5DE996C</string>
				<key>allHeaderFields</key>
				<dict>
					<key>Access-Control-Allow-Methods</key>
					<string>GET</string>
					<key>Access-Control-Allow-Origin</key>
					<string>*</string>
					<key>Cache-Control</key>
					<string>no-cache</string>
					<key>Connection</key>
					<string>keep-alive</string>
					<key>Content-Length</key>
					<string>27</string>
					<key>Content-Type</key>
					<string>text/javascript; charset="UTF-8"</string>
					<key>Date</key>
					<string>Mon, 29 Jun 2015 11:20:32 GMT</string>
				</dict>
				<key>expectedContentLength</key>
				<integer>27</integer>
				<key>statusCode</key>
				<integer>200</integer>
				<key>suggestedFileName</key>
				<string>0.js</string>
				<key>textEncodingName</key>
				<string>"utf-8"</string>
			</dict>
		</dict>
	</dict>
</array>
</plist>
